# LaTeX temporary files
**/*.aux
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.synctex.gz
**/*.toc
**/*.lof
**/*.lot
**/*.bcf
**/*.run.xml
**/*.loa
**/*.xwm
**/*.synctex(busy)
